<mat-sidenav-container class="container" autosize>
  <mat-sidenav
    [fixedInViewport]="true"
    class="side"
    #sidenav
    opened="true"
    mode="side"
    autosize
    disableClose="true"
  >
    <mat-nav-list>
      <a mat-list-item>
        <img
          *ngIf="isExpanded"
          src="" 
          style="margin-right: 12px;">
        <p *ngIf="isExpanded" class="synapse">Synapse<br>Yu-Gi-Oh!</p>
        <mat-icon
          title="Expand/Collapse Menu"
          class="burger"
          (click)="isExpanded = !isExpanded"
        >
        {{ isExpanded ? 'menu_open' : 'menu' }}
        </mat-icon>
      </a>

      <a mat-list-item>
        
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 100vh;">
      <ng-container [ngTemplateOutlet]="mainContent"></ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>