.navbar {
  display: flex;
  align-items: center;
}

.app-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo-img {
  height: 40px;
  margin-right: 12px;
}

.app-name {
  margin-right: 12px;
}

.nav-links  {
  display: flex;
  gap: 9px;

}

.spacer {
  flex: 1 1 auto;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 12px;

  .search-bar {
    min-width: 200px;
  }

  app-theme-toggle {
    margin: 0 8px;
  }

  .auth-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 180px; // ✅ Adjust based on widest auth button combo
    justify-content: flex-end;
    transition: all 0.3s ease;
  }
}